@charset "utf-8";
/* Team #5: Mackenzie, Yuanbo, Lucas */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a,
a:link,
a:visited {
    color: brown;
    text-decoration: none;
}

a:hover,
a:active {
    color: maroon;
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    letter-spacing: 5px;
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    margin: 10px;
}

/* homepage featured quote */
blockquote {
    background-color: rgba(0,0,0,.05);
    border-left: 10px solid rgba(0,0,0,.1);
    font-style: italic;
    margin: 50px auto;
    padding: 25px;
}

blockquote .quote-text {
    color: rgba(0,0,0,.75);
    font-size: 200%;
}

blockquote .quote-author {
    color: rgba(0,0,0,.5);
    margin-top: 10px;
    text-align: right;
}

/* header */
header #featured-image {
    width: 100%;
}

/* navigation menu */
nav {
    margin: 15px;
    text-align: center;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    margin: 0 3vw;
}

.active-page {
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

/* main content */
main {
    margin: 50px auto;
    width: 80%;
}

.placeholder {
    background-color: rgba(255,0,0,.1);
    border: 1px solid red;
    color: red;
    font-size: small;
    line-height: 500px;
    height: 500px;
    text-align: center;
}

/* footer */
footer {
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: smaller;
    margin: 25px;
    text-align: center;
}

footer p {
    margin: 10px;
}