@charset "utf-8";
/* Team #5: Mackenzie, Yuanbo, Lucas */

/* quick reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a,
a:link,
a:visited {
    color: brown;
    text-decoration: none;
}

a:hover,
a:active {
    color: maroon;
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    letter-spacing: 5px;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin: 10px 0;
}

li {
    list-style-type: none;
}

/* header */
header #featured-image {
    filter: contrast(.5) sepia(.5);
    width: 100%;
}

/* navigation menu */
nav {
    margin: 15px 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin: 0 3vw;
}

.active-page {
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.active-page::after,
.active-page::before {
    content: " · ";
}

/* temporary placeholder for missing content */
.placeholder {
    background-color: rgba(255,0,0,.1);
    border: 1px solid red;
    color: red;
    font-size: small;
    line-height: 500px;
    height: 500px;
    text-align: center;
}

/* main content */
main {
    margin: 50px auto;
    width: 80%;
}

main > p {
    margin: 25px 0;
}

main #portrait-image { /* the portrait on the home page */
    display: block;
    margin: 50px auto;
    width: 250px;
}

/* everything related to forms */
main fieldset { 
    border: 1px dashed rgba(128, 0, 0, .75);
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
}

main fieldset legend {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px;
}

main form input,
main form td {
    margin: 10px 0;
    padding: 5px 0;
}

main input[type=text],
main input[type=email],
main input[type=tel] {
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

main input[type=submit],
main input[type=reset] {
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 15px;
}

main input[type=submit] {
    background-color: brown;
    border: 2px solid brown;
}

main input[type=reset] {
    background-color: white;
    border: 2px solid brown;
    color: brown;
}

/* home featured quote */
blockquote {
    background-image: linear-gradient(90deg, rgba(0,0,0,.05), transparent);
    border-left: 10px solid rgba(0,0,0,.1);
    font-style: italic;
    margin: 50px auto;
    padding: 10px 25px;
}

blockquote .quote-text {
    color: rgba(0,0,0,.75);
    margin: 10px;
    font-size: 150%;
}

blockquote .quote-author {
    color: rgba(0,0,0,.5);
    margin-top: 10px;
    text-align: right;
}

/* media page */

/* youtube player */
.embed-player {
    margin: 25px 0;
}

.embed-player p {
    font-style: italic;
    margin: 10px 0;
}

.embed-player iframe {
    border: 1px solid brown;
    padding: 10px;
}

.order-link {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 50px;
    text-decoration: dashed;
}

/* tour dates */
#tour-dates p {
    margin: 5px 0;
}

/* footer */
footer {
    background-color: rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 25px 0;
    text-align: center;
}

footer p {
    color: rgba(0,0,0,.25);
    font-style: italic;
    margin: 10px;
}

footer input[type=text] {
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 15px 0 0 15px;
    font-size: 15px;
    padding: 10px 15px;
}

footer input[type=submit] {
    background-color: brown;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 25px;
}